@import '../../scss/general.scss';

// Define variables
$primary-color: #007bff;
$primary-color-hover: #0056b3;
$border-color: #ccc;
$border-radius: 5px;

.contact-form-container {
  min-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid $border-color;
  border-radius: $border-radius;
  // color: white;
  background-color: $color_globant_green;
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

.error-message {
  color: red;
  font-size: 0.8em;
}

.form-control {
  width: 100%;
  padding: 10px;
  border-radius: $border-radius;
  border: 1px solid $border-color;
  box-sizing: border-box;
}

.btn-primary {
  background-color: $primary-color;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;

  &:hover {
    background-color: $primary-color-hover;
  }
}
