.ContactModal {
  position: fixed;
  display: grid;
  place-items: center;
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
}

.close-btn {
  position: absolute;
  top: 0px;
  right: 0px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2rem;
  color: rgba(233, 217, 217, 0.5);
  margin: 2rem;
}
